<% provide(:title, "About") %>
  <div class="row">
    <!-- <div class="col-md-6">
      <h3>Dr. Scott Allen</h3>
      <p>A board certified eye doctor with over ten years experience serving
        Northern Utah with integrity & excellence, in medical eye care.
        His extensive experience enables Dr. Allen to predict potential
        health problems in your body, through the evaluation of your eyes.
        In fact, last year, Dr. Allen diagnosed dozens of patients with medical
        concerns AFTER they had a medical check-up.</p>
    </div> -->
    <!-- <div class="col-md-4">
    </div> -->
    <div class="col-md-6">
      <h3>Our Services</h3>
      <p>Eye Site of Utah offers you the complete eye care experience.
        From the latest in name brand frames, sunglasses & contact lenses
        to ocular & medical care. Your visit to Eye Site of Utah does it all
        & will save you time & money. Come in to our office & experience the
        next higher level of service. My staff & I will do everything in our
        power to make sure your scheduled appointment is on time & your
        experience is enjoyable.
      </p>
    </div>
  </div>
