<div class= "center jumbotron">
  <h1>Welcome to Eye Site of Utah</h1>
  <h2>Serving northern Utah with integrity and excellence.
  </h2>

  <%= link_to "Find Us!", location_path, class: "btn btn-lg btn-primary" %>

  <h3>Call for an Appointment:</h3>
  <h3>801-200-9977</h3>
</div>
