<% provide(:title, "Location") %>
    <h1>Location</h1>
<div class= "col-md-4">
  <h3>Hours of Operation</h3>
  <p> hours of operation are Mon 9-5;</p>
  <p>Tues 9-5;</p>
  <p>Wed. 9-7;</p>
  <p>Thurs. 9-5;</p>
  <p>Fri 9-5;</p>
  <p>Sat. call for availability.</p>
</div>

<div class="col-md-8">
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>
