<% provide(:title, "Location") %>
    <h1>Location</h1>
<div class= "col-md-4">
  <h3>Hours of Operation</h3>
  <p>Monday 9-5</p>
  <p>Tuesday 9-5</p>
  <p>Wednesday 9-7</p>
  <p>Thursday 9-5</p>
  <p>Friday 9-5</p>
  <p>Saturday Call for availability.</p>
</div>

<div class="col-md-8">
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>
