<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Eye Site", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   'Home' %></li>
        <li><%= link_to "About",   'About' %></li>
        <li><%= link_to "Location", 'Location' %></li>
      </ul>
    </nav>
  </div>
</header>
